.faq__container {
  
}

.faq__container  > header {
    padding: 30px;
    position: relative;
    height: 413px;
    box-shadow: 0 8px 54px 0 rgba(255, 255, 255, 0.8);
  
    z-index: 99999999;
}

.faq__container >  header::after{
    background: linear-gradient(268deg, #32c5ff, #b620e0 51%, #f7b500);
    content: '';
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.faq__container >  header::before {
    background: linear-gradient(268deg, #32c5ff, #b620e0 51%, #f7b500);
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0px;
}

.faq__search__box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 678px;
    text-align: center;
    z-index: 99999999;
}
.faq__search__box span{
    position: relative;
}
.faq__suggestions__box{
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 5px;
  border: solid 1px #707070;
  background-color: #292929;
  z-index: 99999999;
  overflow-y: auto;
  top: 37px;
    transform: scaleY(0);
    transition: 0.1s all;
    transform-origin: top;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent!important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    height: 60px;
    border-radius: 5px;
    background-color: #565555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  
.faq__suggestions__box__active{
    transform: scaleY(1)!important;
}
.faq__suggestions__box li{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s all ease-in;
}
.faq__suggestions__box li:hover{
    background: rgba(255,255,255, 0.1);
}
.faq__search__box input{
width: 100%;
height: 50px;
border-radius: 5px;
border: solid 1px #515050;
background-color: #202020;
text-indent: 20px;
font-size: 18px;
color: white;
outline: none;
}
.faq__search__box h2{
    margin-bottom: 20px;
    font-size: 50px;
  font-weight: 600;
  color: #fbd600;
  font-family: 'semi_bold';

}
.faq__search__box h3{
    font-size: 20px;
    color: #fbd600;
    margin-top: 15px;
}

.faq__main, .faq__inner__container{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 70px;
    padding-top: 50px;
}
.faq__main__contact{
    width: 450px;
}
.faq__main__contact h2{
    font-size: 45px;
    font-weight: 600;
    color: #fbd600;
    margin-bottom: 12px;
    font-family: 'semi_bold';
}
.faq__main__contact p{
    font-size: 20px;
    line-height: 1.55;
    letter-spacing: 0.21px;
}
.faq__contact__btn{
    margin-top: 30px;
    background: transparent;
    border: 0px;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
}
.faq__contact__btn a{
    color: #f7e520;
    font-size: 16px;
    font-weight: 600;
    font-family: 'semi_bold';
    display: flex;
    align-items: center;
}
.faq__contact__btn a h4{
    padding-top: 4px;
    margin-right: 10px;
}
.faq__main__topics{

    width: calc(100% - 450px);
    padding-left: 140px;
}
.faq__main__topics ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.faq__main__topics ul li{
width: calc(100% / 3 );

margin-bottom: 20px;
font-size: 18px;
    cursor: pointer;
  color: #f7e520;
}
.faq__main__topics h2{
    font-size: 25px;
  margin-bottom: 30px;
}
.faq__inner__titles {
    width: 303px;
    display: flex;
    flex-direction: column;
}
.faq__inner__titles h2{
    margin-bottom: 20px;
}
.faq__inner__titles li{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 14px;
    border-left: 5px solid transparent;
    font-size: 18px;
    color: #f7e520;
    cursor: pointer;
}
.selected__topic{
    border-left: 5px solid #f7e520!important;
    background-color: rgba(247, 229, 32, 0.1);
}
.topic__question{
    width: 100%;
    min-height: 40px;
    height: auto;
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    font-size: 18px;
    color: #9f9f9f;
    border-left: 5px solid  #9f9f9f;
    padding-left: 10px;
}
.topic__answer{
    width: 100%;
    min-height: 40px;
    background-color: #505050;
    display: flex;
    align-items: center;
    font-size: 18px;
    border-left: 5px solid  #f7e520;
    padding-left: 10px;
}
.faq__inner__questions{
    width: calc(100% - 350px);
    display: flex;
    height: calc(100vh - 200px);
    flex-direction: column;
    overflow-y: auto;
}
.faq__inner__questions li{
    width: 100%;
    margin-bottom: 25px;
    order: 2;
}
.faq__inner__questions .first__order{
    order: 1;
}
.faq__inner__questions  li:last-child{
    margin: 0px;
}
.faq__inner__questions li div{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.faq__inner__questions li div h3{
    font-size: 24px;
 
}
.faq__inner__questions li div h4{
    font-size: 18px;
    margin-top: 3px;
    margin-left: 13px;
    line-height: normal;
}

.faq__inner__container .faq__contact__btn{
    padding-left:19px;
    margin-top: auto;
    height: 50px;
}




@media screen and (max-width: 1550px) {
    .faq__main, .faq__inner__container{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }    
    .faq__main__contact p{
        font-size: 16px;
    }
    .faq__main__contact{
        width: 400px;
    }
    .faq__main__topics{
        padding-left: 80px;
    }
    .faq__main__topics{
        width: calc(100% - 400px);
    }
    .faq__search__box h2{
        font-size: 40px;
    }
    .faq__search__box h3{
        font-size: 18px;
    }
    .faq__suggestions__box li{
        font-size: 16px;
    }
    .faq__inner__titles{
        width: 250px;
    }
    .faq__inner__questions{
        width: calc(100% - 300px);
    }
}

@media screen and (max-width: 1250px){
    .faq__inner__titles li{
        font-size: 16px;
    } 
    .faq__inner__questions li div h4{
        font-size: 16px;
    }
    .faq__inner__questions li div h3{
        font-size: 22px;
    }
}