.games__container{
   
}
.games__container header .header__img{
    background: url('../../images/PNG/4.png');
    height:100%;
    object-fit: cover;
    padding-top: 30px;
    padding-left: 30px;
}
.game__iframe__container{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    z-index: 1000000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game__iframe__container__active{
    opacity: 1;
    pointer-events: all;
}
.game__overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100%;
    background: black;
  
   
}
.game__iframe__box{
    width: 150vh;
    height: 80vh;
   position: relative;
}
.iframe__close__btn{
    width: 40px;
    height: 40px;
    background: green;
    position: absolute;
    z-index: 9999;
    right: -40px;
    top: -40px;
}
.game__iframe__box iframe{
    width:100%;
    height: 100%;
    position: relative;
}
.games__container header {
    position: relative;
    height: 413px;
    color: white;
  
}
.games__container header::before{
    background:  linear-gradient(268deg, #32c5ff, #b620e0 51%, #f7b500);
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 15px;
}
.games__container header::after{
    background:  linear-gradient(268deg, #32c5ff, #b620e0 51%, #f7b500);
    content: '';
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}


.games__container header h3{
    line-height: 1.24;
    font-size: 25px;
   
    width: 660px;
    text-shadow: 0 0 14px #000000;

}
.games__game__container{
    width: 1160px;
    height: auto;
    margin: auto;
    color: white;
    padding-top: 80px;
}
.games__game__container > h2{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.48px;
    color: #fbd600;
    margin-bottom: 10px;
    font-family: 'semi_bold';
}
.games__game__container >  h4{
    font-size: 18px;
    line-height: 1.55;
}
.games__flex{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 60px;
    padding-bottom: 30px;
}
.games__flex li{
    width: 480px;
}
.games__flex li img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.games__flex li span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.games__flex li span:nth-child(2){
    justify-content: space-between;
}
.games__flex li  h2{
    font-size: 30px;
    font-weight: 600;
}
.games__flex li  p{
    opacity: 0.3;
    font-size: 25px;
   
}
.games__flex li > span{
    margin-bottom: 35px
}
.games__flex li  button{
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 16px;
}
.games__flex li  button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.games__play__btn{
    box-shadow: 0 0 25px 0 #f7e520;
    background-color: #f7e520;
  
}
.games__play__btn a{
    color: #000000;
}
.games__demo__btn{
    color: #d9d9d9;
    border: solid 2px #d9d9d9;
  background-color: transparent;
}
.games__demo__btn a{
    color: #d9d9d9;
    min-width: 100%;
    min-height: 100%;
}
.exit__permission{
    position: fixed;
    z-index: 9999999999;
  left: 0px;
  top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  pointer-events: none;
  opacity: 0;
    
    }
    .exit__permission__active{
        pointer-events: all!important;
        opacity: 1!important;
    }
    .exit__permission .overlay{
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        position: absolute;
    }
    .exit__permission aside{
        border-radius: 10px;
        border: solid 1px #5f5f5f;
        background-color: #2d2d2d;
        width: 430px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 99999999;
    }
    .exit__permission aside span{
        margin-top: 20px;
    }
    .exit__permission aside h2{
        font-size: 20px;
        font-family: 'semi_bold';
    }
    .exit__permission aside button{
        padding: 0px;
        border-radius: 4px;
        box-shadow: 0 0 25px 0 #f7e520;
        background-color: #f7e520;
        height: 40px;
        width: 100px;
        font-family: 'semi_bold';
        font-size: 18px;
        padding-top: 4px;
    }
    .exit__permission aside button:nth-child(1){
        margin-right: 15px;
    }
@media only screen and (max-width: 1550px) {
    .games__game__container{
        width: 1050px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .games__flex li{
        width: 45%;
    }
    .games__flex li h2{
        font-size: 24px;
    }

  
  }


  @media only screen and (max-width: 1300px) {
    .games__game__container{
        width: 900px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .games__flex li{
        width: 45%;
    }
    /* .game__iframe__container iframe{
        width: 85vw;
        height: 70vh;
    } */
  }